
.playlist {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 200ms ease-in-out;
}

.playlist:hover {
    background-color: var(--bg-highlight);
}

.playlist__content {
    pointer-events: none;
}

.playlist__img {
    border-radius: 4px;
    width: 48px;
    height: 48px;
    object-fit: cover;
    pointer-events: none;
}
.playlist__title {
    font-size: 1rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    pointer-events: none;
}

.playlist__type {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-sub-2);
    pointer-events: none;
}
